<div class="card" style="width: 18rem;">
    <img src="https://www.latercera.com/resizer/v2/CN3ZS5OETJDV5L6OQDA4YDXR5M.jpeg?quality=80&smart=true&auth=8729fc5077e3f3921f31e81c90af81de1ada83b6a82393925305d0a8b2211c70&width=690&height=502" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">super innovacio</h5>
      <p class="card-text">productos</p>
      <a href="#" class="btn btn-primary">mas informacion</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cochabamba.solutekla.com/photo/1/samsung/celulares/celular_galaxy_a20s_32gb_negro/celular_galaxy_a20s_32gb_negro_0001" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">telefonos celulares</h5>
      <p class="card-text">Buen precio</p>
      <a href="#" class="btn btn-primary">mas informacion</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/F393/production/_123755326_gettyimages-645863306.jpg.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">telefonos celulares</h5>
      <p class="card-text">inniovacion XD</p>
      <a href="#" class="btn btn-primary">mas informacion</a>
    </div>
  </div>
 
